{% extends "shared/_layout_login.html" %}
{% block title %}Home{% endblock %}
{% block main_content %}

<section class="section">
    <h1 class="title is-2 pb-4" style="color:#4829b2">
        Privacy Policy
    </h1>
    <p class="subtitle is-6">
        <b>
            Last update: April 3, 2023
        </b>
    </p>
    <div class="content">
        <p>
            Classwise ("Classwise", "we", "our", and "us") respects your concerns about privacy and personal data protection and value our 
            relationship with you. This Privacy Policy (the "Policy") applies solely to personal information collected through the Classwise website, online services, 
            applications, and web pages that post, specifically reference, and incorporate this Policy (all of the foregoing, collectively, the "Site"), whether 
            accessed via computer, mobile device or other device (collectively, "Device").
        </p>
        <p>
            This Policy describes the types of personal information we collect through the Site and how that personal information may be used and/or with whom it may be 
            shared. This Policy also describes how you can reach us to update your personal information, access and control the use of the personal information, or get 
            answers to questions you may have about our privacy practices. Please read this Policy carefully, because by accessing and using this Site you 
            are acknowledging that you understand and agree to the terms of this Policy. In addition, please review our Terms of Use, which governs your use of this Site.
        </p>
        <p class="title is-5">1. CONSENT</p>
        <p class="title is-6">Consent to Data Collection and Processing</p>
        <p>
            You hereby agree with and consent to the collection and processing of your personal information as described in this Policy.
        </p>
        <p class="title is-6">Consent to International Data Transfers</p>
        <p>
            Your personal information may be collected, processed and stored by Classwise or its services providers in the United States and other countries where our servers reside. 
            Please be aware that the privacy protections and legal requirements, including the rights of authorities to access your personal information, in some of these countries 
            may not be equivalent to those in your country. You hereby agree with and consent to the transfer of your personal data to the United States and other countries where 
            Classwise operates.
        </p>
        <p class="title is-6">Withdrawal of Consent</p>
        <p>
            You have the right, at any time, to withdraw your consent to Classwise's collection and processing of your information, or to the transfer of your personal data to the 
            United States and other countries where Classwise operates. You may withdraw your consent by emailing Classwise at privacy@classwise.org.
        </p>

        <p class="title is-5">2. COLLECTION AND USE OF PERSONAL INFORMATION</p>
        <p>
            As you interact with Classwise, there may be opportunities for you to provide us with your information. Additionally, we may collect certain information about your as 
            further described below.
        </p>
        <p>
            You may provide us with information about you through a number of sources: Classwise websites, applications, product and related events, surveys, social media platforms, 
            and through our customer contact centers.
        </p>
        <p>
            The categories of information that Classwise collects about you may include, but are not limited to:
        </p>
        <ul>
            <li>Identifiers/Contact information (such as name, address, city, state and ZIP code, email address, telephone number, unique personal identifier, online identifier, 
                IP address, or other similar identifiers)
            </li>
            <li>Demographic information (such as gender, date of birth, marital status, and household composition)
            </li>
            <li>Professional or employment related information (such as current or past job history)
            </li>
            <li>Non-public education information (such as education records directly related to a student maintained by an educational institution or party acting on its behalf, 
                such as grades, transcripts, class lists, student schedules, student identification codes, student financial information, or student disciplinary records)
            </li>
            <li>Payment information (such as your credit card number, CVV code, and expiration date)
            </li>
            <li>Information about your connected devices (such as mobile phone, computer, or tablet) and how you interact with our products, services, apps, and websites 
                (such as IP address, browser type, unique device identifier, cookie data, and associated identifying and usage information)
            </li>
            <li>Marketing profile information
            </li>
            <li>Photographs and videos that you submit via the Site</li>
            <li>Incentive eligibility verification information (such as college name)
            </li>
            <li>Inferences drawn from other personal information (such as personal preferences, characteristics, psychological trends, predispositions, behavior, attitudes, 
                intelligence, abilities, and aptitudes)
            </li>
        </ul>
        <p>
            We obtain the categories of personal information listed above from the following categories of sources:
        </p>
        <ul>
            <li>Directly from you as described herein;</li>
            <li>Indirectly from you, for example, through information we collect in the course of providing services and products.</li>
            <li>Directly and indirectly from activity on this Site.</li>
            <li>From third-parties that interact with us in connection with the services and products we provide.</li>
            <li>From social login services such as "Sign in with Google".</li>
        </ul>
        <p>
            The information Classwise collects about you and your devices may be used:
        </p>
        <ul>
            <li>To provide products and services and maintain customer relationships</li>
            <li>To improve the quality, safety, and security of our products and services</li>
            <li>To administer your account(s) and process your payments for products and services</li>
            <li>To operate our websites and applications, including online registration processes</li>
            <li>To autofill data fields on our websites or applications to improve your online experience</li>
            <li>To develop new products and services</li>
            <li>To provide customer support and service (such as recall information)</li>
            <li>To provide information and product updates</li>
            <li>For research, evaluation of use, and troubleshooting purposes</li>
            <li>For marketing and analytics purposes</li>
            <li>To customize and improve communication content</li>
            <li>To comply with legal, regulatory, or contractual requirements</li>
        </ul>
        <p>
            Communications with you in connection with these uses may be via mail, telephone, e-mail, text message, social medial, or other electronic messages, or via 
            our websites and applications.
        </p>

        <p class="title is-6">Personal Information You Provide</p>
        <p>The privacy and security of the personal information that Classwise collects from you is a priority for Classwise. When you visit this Site you may be asked or choose 
            to provide personal information that could reasonably be used to contact you or to identify you personally including, but not limited to: your name, address, 
            telephone number, birth date, and email address. If you choose to purchase any products or use services offered on the Site, Classwise may ask you to provide your name, 
            mailing address, telephone number and email address, as well as certain financial information (e.g., credit card number) for the purposes of credit checks, payment 
            and processing of any order.
        </p>
        <ul>
            <li>If you purchase products from the Site, we request that you provide your name, email address, billing and shipping address, credit card information, and any other 
                information necessary to complete the transaction. Classwise may utilize its third party service providers, including those located outside your country of residency, 
                to process collected financial information to fulfill purchases.
            </li>
            <li>You may choose to receive certain communications from Classwise via your email address upon interaction with the Site. From time to time Classwise may include surveys, 
                information requests, or other features on the Site which ask you to provide personal information such as your name, telephone number, email address or mailing address. 
                Any information you may provide will be used by Classwise to allow you to participate in the particular feature being offered. Classwise may also retain any information 
                you provide in order to send you information about Classwise's products and services that may be of interest to you. Classwise will provide you with the opportunity to 
                opt-out of receiving such communications. We may use one or more service providers to administer these messages, but we do not share your email address with spammers 
                or any other third parties without your permission.
            </li>
        </ul>
        <p>
            You will be informed what personal information is required and what information is optional when asked to submit personal information to us. By submitting personal information 
            to Classwise at this Site, you hereby consent to Classwise's collection, use and disclosure of such personal information.
        </p>
        <p>
            We may combine the personal information you submit directly through this Site with other personal information we have collected from you, whether on- or offline. We may also 
            combine it with information we receive about you from other sources, such as other companies, publicly available information sources (including information from your 
            publicly available social media profiles), and other third parties.
        </p>
        <p class="title is-6">Passive Information Collection and Use</p>
        <p>
            As you navigate around this Site, certain information can be passively collected (that is, gathered without you actively providing the information), using various technologies. 
            We passively collect and use information in a variety of ways, including:
        </p>
        <ul>
            <li>Through your browser and Device: Certain information is collected by most browsers, such as your Media Access Control (MAC) address, 
                screen resolution, operating system version, and Internet browser type and version. We collect Device-specific information (such as your hardware model, operating 
                system version, unique device identifiers, and mobile network information including phone number). We may associate your device identifiers or phone number with 
                your Classwise account. 
            </li>
            <li>Cookies: Cookies are pieces of information stored directly on the computer you are using. Cookies allow us to collect information such as browser type, time spent 
                on this Site, pages visited, and language preferences. We and our service providers use the information for security purposes, to facilitate navigation, and display 
                information more effectively. In addition, we use cookies to gather statistical information about Site usage in order to continually improve its design and functionality, 
                understand how individuals use it, and to assist us with resolving questions regarding it. 
            </li>
        </ul>
        <p>
            You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser settings to decline cookies if you prefer. 
            If you would prefer not to accept cookies, most browsers will allow you to: (i) change your browser settings to notify you when you receive a cookie, which lets you choose 
            whether or not to accept it; (ii) to disable existing cookies; or (iii) to set your browser to automatically reject any cookies. If you set your browser to reject cookies, 
            part of the Site may not work for you.
        </p>
        <ul>
            <li>Pixel tags, web beacons, clear GIFs, or other similar technologies: These may be used in connection with some Site pages to, among other things, track the actions of 
                Site users and compile statistics about Site usage and response rates.
            </li>
            <li>IP Address: Your IP Address is a number that is automatically assigned to the computer that you are using by your Internet Service Provider. 
                An IP Address is identified and logged automatically in our server log files whenever a user visits this Site, along with the time of the visit and the page(s) that were 
                visited. Collecting IP Addresses is standard practice on the Internet and is done automatically by many web sites. We use IP Addresses for purposes such as calculating 
                Site usage levels, helping diagnose server problems, and administering this Site.
            </li>
            <li>Do Not Track Requests: Your selection of the "Do Not Track" option provided by your browser may not have any effect on our collection of cookie information for analytic 
                and internal purposes. The only way to completely opt out of the collection of any information through cookies or other tracking technology is to actively management the 
                settings on your browser or Device to delete and disable cookies and other tracking/recording tools. Please note, depending on your type of Device or browser, it may not 
                be possible to delete or disable all tracking mechanisms on your Device.
            </li>
        </ul>
        <p>
            We permit third-party advertising partners to use the foregoing tracking technologies to collect information about your browsing activities over time and across different 
            websites when you use the Site. For example, we use advertising services providing by third-party ad partners, such as Google, to market our service to you on other websites 
            and online services. Through a process called "retargeting," each service places a cookie on your browser when you visit the Site so that they can identify you and serve 
            you ads on other sites around the web based on your browsing activity. To avoid use of this information for advertising by these third-party ad partners, you can change 
            your browser settings to reject cookies or to notify you when cookies are set and you could select the Do Not Track option on your browser, though we have no control over 
            and cannot confirm whether these third-party ad partners honor the Do Not Track browser signal. Additionally, many advertising companies are members of the NAI or DAA 
            and/or provide opt-outs on those industry pages at networkadvertising.org/choices or aboutads.info/choices.
        </p>
        <p>
            We utilize Google Analytics on the Site. Google Analytics is a website analysis service provided by Google, Inc. (“Google”). Google utilizes the data collected to track 
            and examine the use of this Site, to prepare reports on its activities and share them with other Google services. Google may use the data collected to contextualize and 
            personalize the ads of its own advertising network. For more information on Google's Privacy Policy go to 
            <a href=https://www.google.com/intl/en/policies/privacy/>https://www.google.com/intl/en/policies/privacy/</a>
            . Users can opt-out of Google Analytics tracking at 
            <a href=https://tools/google.com/dlpage/gaoptout/>https://tools/google.com/dlpage/gaoptout/</a>
            . Some additional Google Analytics features that Classwise uses are:
        </p>
        <ul>
            <li>Google Analytics Demographics and Interest Reporting – allows Classwise to see the age, gender and interests of website visitors to better understand them and personalize advertising.
            </li>
            <li>Google Display Network Impression Reporting – for banner ads.
            </li>
            <li>Remarketing through Google Analytics for Display Advertising – allows personalization of ads on our ad networks.
            </li>
            <li>User ID Extension for Google Analytics – allows Classwise to connect multiple devices, sessions and engagement data.
            </li>
        </ul>
        <p>
            We, along with third-party vendors such as Google use first-party cookies (such as the Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or other 
            third-party identifiers together to compile data regarding user interactions with ad impressions and other ad service functions as they relate to our website. Users can set preferences 
            for how Google advertises to you using the Google Ad Settings page. Alternatively, you can opt out by visiting the Network Advertising Initiative Opt Out page or by using the Google 
            Analytics Opt Out Browser add on.
        </p>
        <p class="title is-6">Integrated Accounts and Social Media Information</p>
        <p>
            We may implement applications or "widgets" from third party providers that allow interaction, integration or content sharing with 
            third party services. These widgets or applications may be visible on a page you visit on our Site or may require log-in through the third party provider's service. The third party 
            providing the widget or integration may offer controls for you to manage your interactions. Any interaction with a third party widget or application typically allows the third party 
            to collect some information about you (whether through cookies, registration information or otherwise). These third parties may even track you when you do not interact with the widget. 
            If you have engaged any of these third party service providers, their respective privacy policies will govern their tracking and collection of information. You should review these 
            third party policies to understand these practices.
        </p>

        <p class="title is-6">How We Use and Disclose Information</p>
        <p>
            We may disclose personal information that we collect or you provides as described in this Policy. The information may be disclosed for a business purpose 
            to the following categories of third parties:
        </p>
        <ul>
            <li>To contractors, service providers and other third parties we use to support our business and who are bound by contractual obligations to keep personal information confidential 
                and use it only for the purposes for which we disclose it to them.
            </li>
            <li>To our affiliates for related business purposes.
            </li>
        </ul>
        <p>
            We use and disclose personal information you provide to us as described to you at the point of collection, such as when you (1) register for a user account, (2) submit payment 
            or credit card information, (3) submit your name and e-mail address to receive product updates and marketing information, and (4) send e-mail messages or feedback, or transmit 
            other information by e-mail. When you elect to engage in such activities, we may ask that you provide us personal information, such as your first and last name, mailing address 
            (including zip code), e-mail address, mobile telephone numbers, and payment information.
        </p>
        <p>
            We also use and transfer personal information from or about you:
        </p>
        <ul>
            <li>to respond to your inquiries and fulfill your requests, such as to send you documents you request or e-mail;</li>
            <li>to send you important information regarding our relationship with you or regarding this Site, changes to our terms, conditions, and policies and/or other administrative 
                information; and
            </li>
            <li>for our business purposes, such as marketing new products and services, data analysis, audits, developing new products or services, enhancing our Site, improving our products 
                and services, identifying Site usage trends, and determining the effectiveness of our Site.
            </li>
            <li>to our third party service providers who provide services such as website hosting and moderating, mobile application hosting, data analysis, infrastructure provision, credit 
                card processing, IT services, e-mail services, marketing services, auditing services, and other services, in order to enable them to provide services;
            </li>
            <li>to verify your information, approve your registration as a user of the Site, authenticate payments and process orders, Classwise may disclose certain financial and other 
                information you provide to Classwise to third parties offering products and services for sale on the Site, as well as to third parties that provide credit reporting, payment 
                or order fulfillment services;
            </li>
            <li>to a third party in the event of any reorganization, merger, sale, joint venture, assignment, transfer, or other disposition of all or any portion of our business, assets, 
                or stock (including in connection with any bankruptcy or similar proceedings); and
            </li>
            <li>when we otherwise have your consent. For example, if you sign up for programs offered by our partners, we may share certain information with the partner. This could include, 
                but is not limited to, enrollment information and the activation status of your device. Your consent is required to allow these exchanges on your behalf and you can change 
                your mind at any time.
            </li>
        </ul>
        <p>
            In addition, we use and disclose personal information collected through this Site as we believe to be necessary or appropriate: (a) as permitted by applicable law, including laws 
            outside your country of residence; (b) to comply with any legal process; (c) to respond to requests from public and government authorities, including public and government authorities 
            outside your country of residence; (d) to enforce our Terms of Use; (e) to protect our operations or those of any of our affiliates; (f) to protect our rights, privacy, safety, or 
            property, and/or that of our affiliates, you, or others; and (g) to allow us to pursue available remedies or limit the damages that we may sustain. We may also use and disclose 
            personal information collected through this Site in other ways, with your prior consent.
        </p>
        <p>
            We also use and disclose information we collect passively as described above, under "Passive Information Collection and Use," and for any other purpose, except where we are required 
            to do otherwise under applicable law (for example, if we are required to treat such information as personal information). In addition, we may use and disclose information that is not 
            in personally identifiable form (such as anonymized, masked or de-identified information) for any purpose. If we combine information that is not in personally identifiable form with 
            information that is (such as combining your name with your geographical location), we will treat the combined information as personal information as long as it is combined.
        </p>
        <p>
            Classwise will not sell your personal information that we collect without your explicit consent.
        </p>
        <p class="title is-6">Use of Information for Marketing Purposes</p>
        <p>
            Classwise and our affiliates may send you regular promotional communications about our products, services, events and promotions. Such promotional materials may use the "Classwise" 
            brand and may be sent to you via different channels, such as: email, phone, SMS text messages, postal mailings, and third party social networks.
        </p>
        <p>
            In order to provide you with the best personalized experience, sometimes these communications may be tailored to your preferences (for example, as you indicate these to us, as we 
            may have inferred from your Site visits, or based on the links you click in our emails). When required by applicable law, we will obtain your consent before starting these activities. 
            In addition, you may withdraw your consent (opt-out) at any time.
        </p>
        <p>
            In particular, you can opt-out from receiving marketing-related emails by following the unsubscribe instructions provided in each email. If you can sign-in to your Classwise account, 
            you may be able to change your communication preferences under the relevant section of the Site. You can also contact us using the contact details provided below to opt-out from 
            receiving marketing-related communications.
        </p>
        <p>
            Please note that even if you opt-out from receiving marketing communications, you might still receive administrative communications from us, such as technical updates of our products, 
            order confirmations, notifications about your account activities, and other important notices.
        </p>

        <p class="title is-5">3. GENERAL PRINCIPLES FOR THE PROCESSING OF PERSONAL INFORMATION</p>
        <p>
            Personal information will be collected, stored, processed and transmitted in accordance with Classwise’s established policies and applicable federal, state, local and foreign laws, 
            rules and regulations.
        </p>
        <p>
            The principles of Classwise with respect to the processing of personal information are as follows: (1) personal information will be processed fairly and lawfully, (2) personal 
            information will be collected for specified, explicit, and legitimate purposes and not further processed for incompatible purposes, (3) personal information collected by Classwise 
            will be adequate, relevant, and limited to what is necessary in relation to the purposes for which they are collected and processed, (4) personal information collected by Classwise 
            will be accurate and, where necessary, kept up to date to the best of our ability, (5) personal information collected by Classwise will be retained as identifiable data for no 
            longer than necessary to serve the purposes for which the personal information was collected, and (6) personal data will be processed in a manner that ensures appropriate security 
            of the personal data, including protection against unauthorized or unlawful processing and against accidental loss, destruction or damage, using appropriate technical or 
            organizational measures.
        </p>
        <p>
            If Classwise engages in the processing of personal information for purposes other than those specified in this Policy, Classwise will provide notice of these changes, the purposes 
            for which the personal information will be used, and the recipients of personal information.
        </p>

        <p class="title is-5">4. THIRD PARTY SITES AND SERVICES</p>
        <p>
            This Policy does not address, and we are not responsible for, the privacy, information, or other practices of any third parties, including any third party operating any site or 
            web property (including, without limitation, any application) that is available through this Site or to which this Site contains a link. The availability of, or inclusion of a link 
            to, any such site or property on this Site does not imply endorsement of it by us or by our affiliates.
        </p>


        <p class="title is-5">5. CHOICES AND ACCESS</p>
        <p>
            We give you choices regarding our use and disclosure of your personal information. Classwise provides you with the opportunity to receive information by email, regular mail or 
            telephone calls from Classwise, or third parties which may be of interest to you, including information relating to new products and services offered on the Site by Classwise, 
            or other third parties. If you do not want to receive any information by email, regular mail or telephone calls, you may opt-out of further communications provided by Classwise 
            at any time by: (i) sending Classwise an email at privacy@classwise.org.
        </p>
        <p>
            If applicable, and you would like to review, correct, update, or delete the personal information that you have provided via this Site, please contact us. We will try to comply with 
            your request as soon as reasonably practicable.
        </p>

        <p class="title is-5">6. ACCURACY</p>
        <p>
            It is your responsibility to provide Classwise with accurate personal information. Except as otherwise set forth in this Policy, Classwise shall only use personal information in 
            ways that are compatible with the purposes for which it was collected or subsequently authorized by you. To the extent necessary for these purposes, Classwise shall take 
            reasonable steps to ensure that personal information is accurate, complete, current and relevant to its intended use.
        </p>

        <p class="title is-5">7. YOUR RIGHTS OVER YOUR INFORMATION</p>
        <p>
            By law, you have a number of important rights. In summary, those include the following:
        </p>
        <ul>
            <li>fair processing of your personal data and transparency over how we use your personal data;</li>
            <li>access to your personal data and to certain other supplementary information that this privacy policy is already designed to address;</li>
            <li>require us to correct any mistakes in your information which we hold;</li>
            <li>require the erasure of personal data concerning you, in certain situations;</li>
            <li>receive the personal data concerning you that you have provided to us, in a structured, commonly used and machine readable format, and have the right to transmit that data to a 
                third party, in certain situations;
            </li>
            <li>object at any time to processing of personal data concerning you for direct marketing;</li>
            <li>object to decisions being taken by automated means that produce legal effects concerning you or similarly significantly affect you; and</li>
            <li>object in certain other situations to our continued processing of your personal data.</li>
        </ul>
        <p>
            If you would like to exercise any of these rights, please email us with the following: (1) enough information to identify you; (2) proof of your identity and address; 
            and (3) the information to which your request relates.
        </p>
        <p class="title is-6">California Privacy Rights</p>
        <p>
            The California Consumer Privacy Act (the "CCPA") grants users of our Site that are California residents certain rights in regards to our collection of personal information. 
            These rights include:
        </p>
        <ul>
            <li>The right to request the disclosures of (1) what personal information has been collected; (2) the categories of sources from which the personal information was collected; 
                (3) the business or commercial purpose for collection or selling personal information; (4) the categories of third parties with whom the business shares personal information; 
                and (5) the specific pieces of personal information Classwise has collected;
            </li>
            <li>The right to request the deletion of their personal information that has been collected; and
            </li>
            <li>The right to opt-out of the sale of their personal information.
            </li>
        </ul>
        <p>
            Under the CCPA, a data subject may only make a personal information request twice in a 12-month period. Classwise will respond to such personal information request within 45 days 
            of receiving the personal information request.
        </p>
        <p>
            Additionally, if you are a California resident, you have the right to request information from Classwise regarding the manner in which Classwise shares certain categories of 
            your personal information with third parties, for the third parties’ direct marketing purposes. California law provides that you have the right to submit a request to Classwise 
            at its designated address and receive the following information:
        </p>
        <ul>
            <li>The categories of information Classwise disclosed to third parties for the third parties’ direct marketing purposes during the preceding calendar year; and
            </li>
            <li>The names and address of third parties that received such information, or if the nature of their business cannot be determined from the name, then examples of the products 
                or services marketed.
            </li>
        </ul>
        <p>
            You are entitled to receive a copy of this information in a standardized format and the information will not be specific to you individually. You may make such a request by 
            emailing privacy@classwise.org.
        </p>
        <p class="title is-6">Exercising Your Rights</p>
        <p>
            To exercise your rights as described herein, you may submit a verifiable consumer request to us (as described above) by emailing privacy@classwise.org.
            Classwise will not discriminate in any way against any users of the Site that exercise their rights provided by law.
        </p>

        <p class="title is-5">8. RETENTION PERIOD</p>
        <p>
            We retain your personal information for the period necessary to fulfill the purposes outlined in this Policy, unless a longer retention period is required or allowed by law or 
            to otherwise fulfill a legal obligation.
        </p>

        <p class="title is-5">9. SECURITY</p>
        <p>
            Classwise has implemented security measures designed to protect personal information provided by you against unauthorized access and use. Classwise also uses commercially 
            reasonable efforts to establish secure connections with your web browser for any transactions conducted online using a credit card or other financial information you may provide 
            to Classwise. Please be aware, however, that no data transmission over the Internet is 100% secure and any information disclosed online can potentially be collected and used by 
            parties other than the intended recipient. If you have reason to believe that your interaction with us is no longer secure, please immediately notify us of the problem.
        </p>

        <p class="title is-5">10. USE OF SITE BY MINORS</p>
        <p>
            We do not intentionally collect information from individuals under the age of 13. The Site is not directed to individuals under the age of 13 and we request that these individuals 
            not provide personal information through this Site.
        </p>

        <p class="title is-5">11. COMPLIANCE WITH LOCAL LAWS</p>
        <p>
            This Policy is meant to guide Classwise with respect to personal information collected from or about you at this Site. While this Policy applies to personal information generally, 
            the local laws, rules and regulations of jurisdictions that are applicable to Classwise ("Local Laws") may require standards which are stricter than this Policy and, in such event, 
            Classwise will comply with applicable Local Laws. Specific privacy policies may be adopted to address the specific privacy requirements of particular jurisdictions. All the 
            information you provide may be transferred or accessed by entities around the world as described in this Policy. Your personal information may be stored and processed in any 
            country where we have facilities or service providers, and by using our Site or by providing consent to us (where required by law), you specifically acknowledge and consent to 
            the transfer of information to countries outside of your country of residence, including to the United States, which may provide for different data protection rules, and a 
            lower standard of required protection, than in your country. Irrespective of which country your personal data is transferred, we would only share your personal data under 
            a ‘need to know’ basis. In these circumstances we will, as required by applicable law, ensure that your privacy rights are adequately protected by organizational, technical, 
            contractual and/or other lawful means.
        </p>

        <p class="title is-5">12. UPDATES TO THIS PRIVACY POLICY</p>
        <p>
            We may change this Policy. Please review the LAST UPDATE legend at the top of this page to see when this Policy was last revised. Any changes to this Policy will become effective 
            when we post the revised Policy on this Site. Your use of this Site following these changes means that you accept the revised Policy.
        </p>

        <p class="title is-5">13. COMPLIANCE</p>
        <p>
            Classwise will use a self-assessment approach to verify compliance with this Policy and periodically verify that the Policy is accurate, comprehensive for the information intended 
            to be covered, prominently displayed, implemented and accessible.
        </p>
        <p>
            If you believe that your personal information has been processed or disclosed in violation of this Policy, Classwise encourages you to raise any concerns using the contact 
            information provided in this Policy. Classwise will investigate and attempt to resolve any complaints and disputes regarding use and disclosure of personal information.
        </p>

        <p class="title is-5">14. YOUR RIGHT TO COMPLAIN</p>
        <p>
            If you have a complaint as to our use of your information, you may file a complaint with us, the California Attorney General, any other governmental agency, and/or a judicial body.
        </p>
        <p>
            A complaint may be submitted directly to Classwise in writing by sending an email to privacy@classwise.org.
        </p>

    </div>
    
    

</section>

{% endblock %}
