{% extends "shared/_layout_login.html" %}
{% block title %}Home{% endblock %}
{% block main_content %}


<section class="hero is-medium" style="background-image: url(../static/images/student4_wide.jpg); background-size: cover;" >
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1 has-text-weight-bold"  style="color:#fff">
                OUR MISSION
            </h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="block">
        <h1 class="title is-2" style="color:#012169">
            About Us
        </h1>
    </div>

    <div class="block">
        <div class="content">
            <p>Text here
            </p>
        </div>
    </div>

    <br>

    <div class="columns is-variable is-5">
        <div class="column is-8">
            <div class="block">
                <p class="title is-3" style="color:#012169">
                    <b>Title</b>
                </p>
                <div class="content">
                    Text here
                    
                </div>
            </div>
            
            
            

            
        </div>
        <div class="column has-text-centered">
            <figure class="image">
                <!-- <img class='imageBorder' src="/static/icons/study.svg" alt="Your virtual tutor"> -->
                <img class='imageBorder' src="/static/images/student2.jpg">
            </figure>
        </div>
    </div>

    <br>
   
    <p class="title is-3" style="color:#012169">
        <b>Title</b>
    </p>
    <p class="content">
        Text
    </p>
</section>
    

{% endblock %}
