<p>Hi {{user}},</p>
<p>
    Welcome to Classwise and congratulations on creating your first class!
</p>
<p>
    My name is Jon Reifschneider, I'm the founder of Classwise and a professor at Duke University. 
    Our mission at Classwise is to put the world's best AI tools in the hands of every educator and learner.
    As educators ourselves, we believe that AI has the power to magnify our impact on our students by making 
    the learning process more personalized and engaging, and freeing up our time to focus on
    the uniquely human aspects of teaching. Classwise's AI class assistant Wise can help you 
    plan your lessons, engage your students in interactive learning activities, generate formative assessments, track
    your students' progress and more.
</p>
<p>
    We're excited to have you join the Classwise community of thousands of educators and students.  I want to make sure that 
    Classwise is meeting the needs of educators like you, and so I would love to hear your input on what else we could be doing to help 
    you and your students.  If you are willing to share your thoughts with me in a brief 15-minute call,
    please <a href="https://calendly.com/classwise-jon/classwise-input-call">click here</a> to schedule a time that works for you.  
    Or if you prefer, you can share your thoughts <a href="mailto:jon@classwise.org?subject=Classwise input">via email</a>.
</p>
<br>
<p>Best regards,</p>
<p>Jon</p>
<p>Founder & CEO, Classwise</p>